---
# Only the main Sass file needs front matter
---

@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 16px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";

.menu-border {
  content: '';
  display: block;
  width: 300%;
  position: absolute;
  top: 50%;
  margin-top: -2px;

  height: 5px;
  border-top: solid 1px rgba(192, 192, 192, 0.35);
  border-bottom: solid 1px rgba(192, 192, 192, 0.35);
}

//#nav > ul:after {
//  @extend .menu-border;
//}
//
//.logo:before {
//  @extend .menu-border;
//}

.logo {
  position: relative;
  float: left;
}

.logo img {
  width: 15em;
  //  padding: 0;
  //  margin: 0;
}