<section class="myapp">
	<header class="header">
		<h1>mys</h1>
		<input class="new-my" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newmyText" (keyup.enter)="addmy()">
	</header>
	<section class="main" *ngIf="myStore.mys.length > 0">
		<input class="toggle-all" type="checkbox" *ngIf="myStore.mys.length" #toggleall [checked]="myStore.allCompleted()" (click)="myStore.setAllTo(toggleall.checked)">
		<ul class="my-list">
			<li *ngFor="let my of myStore.mys" [class.completed]="my.completed" [class.editing]="my.editing">
				<div class="view">
					<input class="toggle" type="checkbox" (click)="toggleCompletion(my)" [checked]="my.completed">
					<label (dblclick)="editmy(my)">{{my.title}}</label>
					<button class="destroy" (click)="remove(my)"></button>
				</div>
				<input class="edit" *ngIf="my.editing" [value]="my.title" #editedmy (blur)="stopEditing(my, editedmy.value)" (keyup.enter)="updateEditingmy(my, editedmy.value)" (keyup.escape)="cancelEditingmy(my)">
			</li>
		</ul>
	</section>
	<footer class="footer" *ngIf="myStore.mys.length > 0">
		<span class="my-count"><strong>{{myStore.getRemaining().length}}</strong> {{myStore.getRemaining().length == 1 ? 'item' : 'items'}} left</span>
		<button class="clear-completed" *ngIf="myStore.getCompleted().length > 0" (click)="removeCompleted()">Clear completed</button>
	</footer>
</section>
